NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
MFDS_API_KEY=

NAVER_DISPLAY=100
NAVER_MAX_PAGES_PER_QUERY=2
NAVER_MAX_REQUESTS=50
NAVER_SLEEP_SECONDS=0.2
MFDS_MAX_PAGES=
CATEGORY_ROOT_DEPTH=1
MIN_TERM_DOCUMENTS=3
MIN_TERM_DOCUMENT_RATIO=0.05
USE_NAVER_LPRICE_AS_LIST_PRICE=false
